@import url(./__list/advantages__list.css);
@import url(./__card/advantages__card.css);
@import url(./__container/advantages__container.css);
@import url(./__image/advantages__image.css);
@import url(./__title/advantages__title.css);
@import url(./__subtitle/advantages__subtitle.css);
@import url(./__link/advantages__link.css);


.advantages {
  max-width: 1204px;
  margin: 0 auto;
  padding: 201px 0 5px 0;

}