.info__button-reviews {
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  padding: 16px 28px;
  margin: 22px 0 0 0;
  transform: translate(-75px, 0);
}